@import '../Fonts/fonts.css';

.navbar {
  background-color: #333;
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-family: 'Garet';
  height: 100vh;
}

.logo {
  font-weight: bold;
  color: #fff;
  padding: 1.5%; 
  text-decoration: none;
}

.nav-menu{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column !important;
}

.nav-link {
  color: #fff !important;
  text-decoration: none;
  transition: color 0.3s ease;
  width: 100%;
}

.nav-link:hover {
  color: #dbdbdb;
  background-color: #545454;
}

.toggle-btn {
  font-size: 1.5rem;
  align-self: flex-end;
  position: absolute;
  right: 1%;
}

.navbar-toggle:focus {
  outline: none;
}

.navbar-collapse {
  top: 100%;
  right: 0;
  background-color: #333;
  z-index: 1;
  padding: 1rem;
  display: flex;
  width: 100%;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-end;
}

/* Estilos para pantallas más grandes */
@media (min-width: 768px) {
  .navbar-collapse {
    position: static;
    background-color: transparent;
    padding: 0;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .toggle-btn {
    display: none;
  }
}