/* Estilos para el navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    width: 100%;
    display: flex;
    border: 2px solid white;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    border: 1px solid yellow;
    width: 100%;
  }
  
  .nav-link {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  
  .toggle-btn {
    font-size: 1.5rem;
    align-self: flex-end;
    border: 1px solid white;
    position: absolute;
    right: 3%;
    
  }
  .navbar-toggle:focus {
    outline: none;
  }
  .navbar-collapse {
    top: 100%;
    right: 0;
    background-color: #333;
    z-index: 1;
    padding: 1rem;
    display: flex;
    border: 1px solid red;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid seagreen;
    align-self: flex-end;

  }
  
  /* Estilos para pantallas más grandes */
  @media (min-width: 768px) {
    .navbar-collapse {
      position: static;
      background-color: transparent;
      padding: 0;
    }
  
    .navbar-nav {
      flex-direction: row;
    }

    .toggle-btn {
      display: none;
    }
  }
